{% extends 'base.html.twig' %}

{% block title %}BasePose{% endblock %}

{% block body %}
    <h1>BasePose</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ base_pose.id }}</td>
            </tr>
            <tr>
                <th>Base_pose_name</th>
                <td>{{ base_pose.basePoseName }}</td>
            </tr>
            <tr>
                <th>Base_pose_image</th>
                <td><img src="{{ asset('uploads/'~ base_pose.basePoseImage) }}" width="50" height="50"></td>
            </tr>
            <tr>
                <th>Base_pose_category</th>
                <td>{{ base_pose.basePoseCategory }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_base_pose_index') }}">back to list</a>

    <a href="{{ path('app_base_pose_edit', {'id': base_pose.id}) }}">edit</a>

    {{ include('base_pose/_delete_form.html.twig') }}
{% endblock %}
